.options-box {
  width: 60%;
  min-width: 175px;
}

.map-container {
  left: 60%;
  width: 100%;
}
@keyframes moveLeft {
  from {left: 60%;}
  to {left: 0;}
}
@keyframes moveRight {
  from {left: 0;}
  to {left: 60%;}
}
.button {
  padding: 3px 7px;
  font-size: 12px;
  margin-top: -9px;
}
/*改变滚动条大小*/
.options-box::-webkit-scrollbar {
	width: 10px;
} /* 这是针对缺省样式 (必须的) */
#address {
  margin-left: 0px;
  height: 30px;
}

#filter {
  margin-left: 0px;
  margin-top: 10px;
}
